.directory
.dub
dub.selections.json
.settings
dub.userprefs
godot-d.dlangidews
godot-d.dlangidews.wssettings
godot-d.settings
docs.json
__dummy.html
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
__test__*__
api.json
gdnative_api.json
godot-d_generator
examples/*/project/.import/*
examples/*/project/logs/*

