name: CI
on: [push, pull_request]


jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-latest]
        dc: [dmd-latest, ldc-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install D compiler
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.dc }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate API bindings
        run: dub run :api-binding-generator
      - name: Build
        run: dub build :test


